<?xml version="1.0" encoding="utf-8"?><!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reproductor"
        tools:targetApi="31">

        <activity
            android:name="com.universae.navegacion.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Reproductor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            Este es un servicio que se declara en el manifiesto.
            El nombre del servicio es MyMediaSessionService y se encuentra en el paquete .ui.player.
            El atributo exported se establece en true, lo que significa que otros componentes (no solo los del mismo
            paquete de la aplicación) pueden iniciar el servicio.
        -->
        <service
            android:name="com.universae.audioplayerlibrary.media.MyMediaSessionService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback">
            <!--
                Este es un filtro de intención que especifica el tipo de intenciones que el servicio puede recibir.
                En este caso, el servicio puede recibir intenciones con la acción androidx.media3.session.MediaSessionService.
            -->
            <intent-filter>
                <action android:name="androidx.media3.session.MediaSessionService" />
            </intent-filter>
        </service>

        <!--
            Esta es una etiqueta de metadatos que se utiliza para proporcionar datos adicionales a la aplicación.
            En este caso, se proporciona una descripción de la aplicación para Google Play Services para automóviles.
            El recurso @xml/automotive_app_desc debe ser un archivo XML que contiene la descripción de la aplicación.
        -->
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

    </application>

</manifest>
